name: Publish
on:
  push:
    tags:
    - v[0-9]+.[0-9]+.[0-9]+

permissions: read-all

jobs:
  github-release:
    name: GitHub Release
    runs-on: ubuntu-24.04
    permissions:
      contents: write # To create a GitHub Release
    steps:
    - name: Checkout repository
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      env:
        JOB: ${{ github.job }}
        WORKFLOW: ${{ github.workflow_ref }}
      run: |
        WORKFLOW=$(echo "$WORKFLOW" | cut -d '@' -f 1 | cut -d '/' -f 3-5)
        go run ./cmd/ghasum verify -cache /home/runner/work/_actions -no-evict -offline "$WORKFLOW:$JOB"
    - name: Get release version
      id: version
      shell: bash
      run: echo "value=${GITHUB_REF#refs/tags/}" >>"${GITHUB_OUTPUT}"
    - name: Compile
      run: go run tasks.go build-all
    - name: Create GitHub release
      uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
      with:
        tag: ${{ steps.version.outputs.value }}
        name: Release ${{ steps.version.outputs.value }}
        body: ${{ steps.version.outputs.value }}
        artifacts: ./_compiled/*
        immutableCreate: true
